/** GENERAL LAYOUT **/

.inputWrapper {
     width: 350px;
     height: 250px;
     background: #fefefe; 
     margin: 50px auto;
     padding: 10px;    
     border-radius:10px; 
     font-family: "Quicksand", Times, sans-serif;
	 font-weight: 400;
	 color: #fefefe;
	 overflow-y: auto;
	 overflow-x: auto;
}

.token {
    background: #5c7db7;
    padding: 2px 2px 2px 5px; 
    margin: 2px; 
    float: left;
    border-radius: 4px;
    cursor: default;
}

.tokenListLabel {
	float: left;
	color: #000;
	margin: 5px 5px 0 2px;
}

.tokenRemove:hover {
	text-shadow: 0px 0px 6px #fff;
}
 
/** INPUT FORMATTING **/
 
.tokenInput {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
    width: 112px;
    margin: 2px;
    float: left;
    border: none;
    outline: none;
	background: transparent;
} 

.focusField{  
        box-shadow:0px 0px 10px #5c7db7;  
        border: solid 2px transparent;
}  
.idleField{  
        border: solid 2px #DFDFDF;  
}

/** MEDIA **/

@media screen and (max-width: 480px) {
	.inputWrapper {
		width: 90%;
	}
}