body { 
	background: #e2e2e2 url("embossed_paper.png") repeat top left; 
	text-align: center; 
}



.description, header {
	background: #fff;
	border: solid 2px #DFDFDF; 
	border-radius: 10px; 
	color: #101010;
    background: #fefefe; 
    font-family: "Courier", Times, sans-serif;
    width: 600px;
    margin: 50px auto;
    padding: 10px; 
    text-align: left;
}

h1, h2 {
	padding: 0px;
	margin-top: 0px;
}

h2 {
	font-weight: normal;
	margin-bottom: 0px;
	font-size: inherit;
}

li {
	list-style: none;
	padding-bottom: 14px;
}

.li-head {
	font-weight: bold;
}